{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block script %}
<script>
    {% if not logged %}
    $(document).ready(function(){
        $("#passwordModal").modal('show');
    });
    {% endif %}
    
    function colorscale(percentage){
        var r = Math.round(255 - 255 * percentage);
        var g = Math.round(255 - 64 * percentage);
        var b = 255;
        var color = r * 0x10000 + g * 0x100 + b * 0x1;
        return "#" + ("000000" + color.toString(16)).slice(-6);
    };
    
    window.onload = function(){
        AvailabilityScale();
        AvailabilityChart();
    }

    function AvailabilityScale(){
        var i;
        for (i = 0; i < {{ people|length + 1 }}; i++){
            var element = document.getElementById("colorscale" + i.toString());
            element.style.background = colorscale(i / {{ people|length }});
        }
    };
                                                  
    function AvailabilityChart(){
        {% for slot in dict %}
        var element = document.getElementById({{ slot }});
        element.style.background = colorscale({{ dict[slot]|length / people|length }});
        {% endfor %}
    };
        
    function ShowSlotAvailability(current){
        var element = document.getElementById("slotavailability");
        element.style.display = '';
    };
    
    function HideSlotAvailability(){
        var element = document.getElementById("slotavailability");
        element.style.display = 'none';
    }
</script>
{% endblock %}

{% block main %}
<div id="passwordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>Enter Meeting Password</div>
            </div>
            <form method="post" action="/login/{{ code }}">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-6">
                            <input id="password" name="password" type="password" class="form-control">
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container" {% if not logged %} style="visibility: hidden;" {% endif %}>
    <div class="row" style="margin-top:10px; margin-bottom: 10px;">
        <div style="font-size:10px; margin-top:3px; margin-right: 3px;">0/{{ people|length }} available</div>
        <table id="table" width=100 height=10 cellpadding=0 cellspacing=0 style="border: solid 1px black">
            <tr>
                {% for i in range(people|length + 1) %}
                <td><div id="colorscale{{i}}">&nbsp;</div></td>
                {% endfor %}
            </tr>
        </table>
        <div style="font-size: 10px; margin-top: 3px; margin-left: 3px;">{{ people|length }}/{{ people|length }} available</div>
    </div>
    <div class="row">
        <div class="column">
            <div style="width:40px; height: 24px;"></div>
            {% for i in range(start_time, end_time + 1) %}
            <div style="width: 40px; height: 30px; font-size:10px;">{{ i }}: 00</div>
            {% endfor %}
        </div>
        {% for date_day in dates_days %}
        <div class="column" style="width: 45px;">
            <div style="height: 13px; font-size: 11px; text-align: center;">
                {{ date_day[0] }}
            </div>
            <div style="height: 17px; font-size: 11px; text-align: center;">
                {{ date_day[1] }}
            </div>
            <div>
                {% for j in range(start_time, end_time) %}
                <div>
                    <div id="{{ date_day[2] }}{{ j }}00{{ j }}30" data-datetime="{{ date_day[2] }}{{ j }}00{{ j }}30" onmouseover="ShowSlotAvailability(this)" onmouseout="HideSlotAvailability()" style="width: 40px; height:15px; border-left: 1px black solid; background: #ffffff; border-top: 1px black solid; border-right: 1px black solid;"></div>
                    <div id="{{ date_day[2] }}{{ j }}30{{ j + 1 }}00" data-datetime="{{ date_day[2] }}{{ j }}30{{ j + 1 }}00" onmouseover="ShowSlotAvailability(this)" onmouseout="HideSlotAvailability()" style="width: 40px; height:15px; border-left: 1px black solid; background: #ffffff ; border-top: 1px black dotted; border-right: 1px black solid; {% if j == end_time - 1 %} border-bottom: 1px black solid {% endif %}"></div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div id="slotavailability" style="display: none;">
    <div id="num_available"></div>
    <div id="time"></div>
    <table>
        <tr>
            <td width=200 align=center>Available</td>
            <td width=200 align=center>Unavailable</td>
        </tr>
        <tr>
            <td valign=top align=center>
                <div id="availlable_names"></div>
            </td>
            <td valign=top align=center>
                <div id="unavailable_names"></div>
            </td>
        </tr>
    </table>
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}')
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
