{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block script %}
<script>
    document.onmouseup=SelectStop;
    var Slot = new Array();
    var Availability = new Array();
    {% for i in range(dates_days|length) %}
        {% for j in range(start_time, end_time) %}
        Slot[{{ 2 * i * (end_time - start_time) + 2 * (j - start_time) }}] = Number({{ dates_days[i][2] + j|string + "00" + j|string + "30" }});
        {% if availability[dates_days[i][2] + j|string + "00" + j|string + "30"] %}
        Availability[{{ 2 * i * (end_time - start_time) + 2 * (j - start_time) }}] = true;
        {% else %}
        Availability[{{ 2 * i * (end_time - start_time) + 2 * (j - start_time) }}] = false;
        {% endif %}
        Slot[{{ 2 * i * (end_time - start_time) + 2 * (j - start_time) + 1 }}] = Number({{ dates_days[i][2] + j|string + "30" + (j + 1)|string + "00" }});
        {% if availability[dates_days[i][2] + j|string + "30" + (j + 1)|string + "00"] %}
        Availability[{{ 2 * i * (end_time - start_time) + 2 * (j - start_time) + 1 }}] = true;
        {% else %}
        Availability[{{ 2 * i * (end_time - start_time) + 2 * (j - start_time) + 1 }}] = false;
        {% endif %}
        {% endfor %}
    {% endfor %}
    
    var mouseDown = false;
    var changeToAvailable=false;
    
    window.onload = function(){
        AvailabilityColors();
        ConfirmedColors();
    }

    function AvailabilityColors(){
        var i;
        for (i = 0; i < Slot.length; i++)
        {
            var element = document.getElementById(Slot[i]);
            if (Availability[i]){
                element.style.background = "#00bfff";
            }
        }
    }

    function ConfirmedColors(){
        {% for meeting in meetings %}
        document.getElementById("{{ meeting + 'confirmed' }}").style.background = "#00bfff";
        {% endfor %}
    }
    
    function SelectFrom(current){
        slot = Number(current.getAttribute("data-datetime"));
        slot_idx = Slot.indexOf(slot);
        changeToAvailable = (Availability[slot_idx] == false);
        Availability[slot_idx] = !Availability[slot_idx];
        mouseDown = true;
        
        ChangeColor(current);
    }

    function SelectThrough(current){
        if(mouseDown){
            slot = Number(current.getAttribute("data-datetime"));
            slot_idx = Slot.indexOf(slot);
            Availability[slot_idx] = !Availability[slot_idx];
            ChangeColor(current);
        }
    }

    function SelectStop(){
        mouseDown = false;
    }
    
    function ChangeColor(current){
        if (changeToAvailable){
            current.style.background="#00bfff";
        }
        else{
            current.style.background="#f0ffff";
        }
    }

    function Update(){
        var dict = {};
        for (i = 0; i < Availability.length; i++) {
            dict[Slot[i].toString()] = Availability[i];
        }
        
        $.ajax({
            type: "POST",
            url: "{{ "/request/" + meeting_id + "/" + registrant_id }}",
            data: dict,
            dataType: "json",
            success: function(result){
                alert("Your availability has been updated");
                window.location.href = "{{ "/" + meeting_id + "/" + registrant_id }}";
            },
            error: function(xtr, status, error){
                alert(xtr + ":" + status + ":" + error);
                alert(xtr.responseText);
            }
        });
    }
</script>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div style="width:40px; height: 24px;"></div>
                    {% for i in range(start_time, end_time + 1) %}
                    <div style="width: 40px; height: 30px; font-size:10px;">{{ i }}: 00</div>
                    {% endfor %}
                </div>
                {% for date_day in dates_days %}
                <div class="column" style="width: 45px;">
                    <div style="height: 13px; font-size: 11px; text-align: center;">
                        {{ date_day[0] }}
                    </div>
                    <div style="height: 17px; font-size: 11px; text-align: center;">
                        {{ date_day[1] }}
                    </div>
                    <div>
                        {% for j in range(start_time, end_time) %}
                        <div>
                            <div onmousedown="SelectFrom(this)" onmouseover="SelectThrough(this)" id="{{ date_day[2] }}{{ j }}00{{ j }}30" onmouseup="SelectTo(this)" data-datetime="{{ date_day[2] }}{{ j }}00{{ j }}30" style="width: 40px; height:15px; border-left: 1px black solid; background: #f0ffff; border-top: 1px black solid; border-right: 1px black solid;"></div>
                            <div onmousedown="SelectFrom(this)" onmouseover="SelectThrough(this)" onmouseup="SelectTo(this)" id="{{ date_day[2] }}{{ j }}30{{ j + 1 }}00" data-datetime="{{ date_day[2] }}{{ j }}30{{ j + 1 }}00" style="width: 40px; height:15px; border-left: 1px black solid; background: #f0ffff ; border-top: 1px black dotted; border-right: 1px black solid; {% if j == end_time - 1 %} border-bottom: 1px black solid {% endif %}"></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="Update()">Update Availability</button>
    </div>
    <div class="col-sm">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div style="width:40px; height: 24px;"></div>
                    {% for i in range(start_time, end_time + 1) %}
                    <div style="width: 40px; height: 30px; font-size:10px;">{{ i }}: 00</div>
                    {% endfor %}
                </div>
                {% for date_day in dates_days %}
                <div class="column" style="width: 45px;">
                    <div style="height: 13px; font-size: 11px; text-align: center;">
                        {{ date_day[0] }}
                    </div>
                    <div style="height: 17px; font-size: 11px; text-align: center;">
                        {{ date_day[1] }}
                    </div>
                    <div>
                        {% for j in range(start_time, end_time) %}
                        <div>
                            <div id="{{ date_day[2] }}{{ j }}00{{ j }}30confirmed" style="width: 40px; height:15px; border-left: 1px black solid; background: #f0ffff; border-top: 1px black solid; border-right: 1px black solid;"></div>
                            <div id="{{ date_day[2] }}{{ j }}30{{ j + 1 }}00confirmed" style="width: 40px; height:15px; border-left: 1px black solid; background: #f0ffff ; border-top: 1px black dotted; border-right: 1px black solid; {% if j == end_time - 1 %} border-bottom: 1px black solid {% endif %}"></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% for confirmed_meeting in confirmed %}
        <div>{{ confirmed_meeting[0] }} {{ confirmed_meeting[1] }} ~ {{ confirmed_meeting[2] }} - {{ confirmed_meeting[3] }}</div>
        {% endfor %}
    </div>
</div>
    
{% endblock %}
