{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="column">
            <div style="width:40px; height: 24px;"></div>
            {% for i in range(start_time, end_time + 1) %}
            <div style="width: 40px; height: 30px; font-size:10px;">{{ i }}: 00</div>
            {% endfor %}
        </div>
        {% for i in dates %}
        <div class="column">
            <div style="height: 30px; font-size: 14px; text-align: center;">
                {{ i }}
            </div>
            <div>
                {% for j in range(start_time, end_time) %}
                <div>
                    <div style="width: 40px; height:15px; border-left: 1px black solid; background: #f0ffff; border-top: 1px black solid; border-right: 1px black solid;"></div>
                    {% if j != end_time - 1 %}
                    <div style="width: 40px; height:15px; border-left: 1px black solid; background: #f0ffff; border-top: 1px black dotted; border-right: 1px black solid;"></div>
                    {% else %}
                    <div style="width: 40px; height:15px; border-left: 1px black solid; background: #f0ffff; border-top: 1px black dotted; border-right: 1px black solid; border-bottom: 1px black solid"></div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
