{% extends "layout.html" %}

{% block title %}
    Meeting Planner
{% endblock %}

{% block main %}
<form id="form" onsubmit="return validateForm();" action="/" method="post" style="margin-top:50px; margin-left:100px; margin-right:100px;">
    <div class="row">
        <div class="col">
            <div class="form-group row">
                <label for="eventname" class="col-sm-4 col-form-label">Event Name</label>
                <div class="col-sm-7">
                    <input name="eventname" type="text" class="form-control" id="eventname" required autocomplete="off">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-7">
                    <input name="email" type="email" class="form-control" id="email" required autocomplete="off">
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-7">
                    <input name="name" type="text" class="form-control" id="name" autocomplete="off">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-7">
                    <input name="password" type="password" class="form-control" id="password" required autocomplete="off">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Number of Events</label>
                <div class="col-sm-3">
                    <input name="min_event" type="number" id="min_event" min="0" class="form-control" placeholder="Min">
                </div>
                <div class="col-sm-1">~</div>
                <div class="col-sm-3">
                    <input name="max_event" type="number" id="max_event" min="0" class="form-control" placeholder="Max">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">People per Event</label>
                <div class="col-sm-3">
                    <input name="min_people" type="number" id="min_people" min="0" class="form-control" placeholder="Min">
                </div>
                <div class="col-sm-1">~</div>
                <div class="col-sm-3">
                    <input name="max_people" type="number" id="max_people" min="0" class="form-control" placeholder="Max">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Dates</label>
                <div class="col-sm-7">
                    <input name="dates" type="text" class="form-control" id="datepicker" required autocomplete="off"></input>
                    <script>
                        $('#datepicker').datepicker({
                            multidate: true
                        });
                    </script>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">No earlier than</label>
                <div class="col-sm-7">
                    <select name="start_time" id="start_time" class="form-control" required>
                        {% for i in range(24) %}
                        <option value="{{ i }}">{{ i }}:00</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">No later than</label>
                <div class="col-sm-7">
                    <select name="end_time" id="end_time" class="form-control" required>
                        {% for i in range(25) %}
                        <option value="{{ i }}">{{ i }}:00</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <button type="submit" class="btn btn-primary">Create Meeting</button>
    </div>
</form>

<script>
    function validateForm(){
        var min_event = document.getElementById("min_event").value;
        var max_event = document.getElementById("max_event").value;
        
        if (min_event > max_event){
            alert("Minimum number of events cannot be bigger than the maximum number of events");
            return false;
        }
        
        var min_people = document.getElementById("min_people").value;
        var max_people = document.getElementById("max_people").value;
        
        if (min_people > max_people){
            alert("Minimum number of people cannot be bigger than the maximum number of people");
            return false;
        }
        
        var start_time = parseInt(document.getElementById("start_time").value);
        var end_time = parseInt(document.getElementById("end_time").value);
        
        if (start_time >= end_time){
            alert("Not a proper time slot");
            return false;
        }
    }
</script>
{% endblock %}
