{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form method="post" style="margin-top: 50px; margin-left: 300px; margin-right: 300px;">
    <div class="form-group row">
        <label class="col col-form-label">Email</label>
        <div class="col">
            <input name="email" id="email" type="email" class="form-control" autocomplete="off" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col col-form-label">Name</label>
        <div class="col">
            <input name="name" id="name" type="text" class="form-control" autocomplete="off">
        </div>
    </div>
    <div class="form-group row">
        <label class="col col-form-label">Password</label>
        <div class="col">
            <input name="password" id="password" type="password" class="form-control" autocomplete="off" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col col-form-label">Meeting Code</label>
        <div class="col">
            {% if meeting_code %}
            <select name="meeting_id" id="meeting_id" class="form-control">
                <option value="{{ meeting_code }}" selected>{{ meeting_code }}</option>
            </select>
            {% else %}
            <input name="meeting_id" id="meeting_id" type="text" class="form-control" autocomplete="off" required>
            {% endif %}
        </div>
    </div>
    <div class="col text-center">
        <button type="submit" class="btn btn-primary">Join Meeting</button>
    </div>
</form>
    
{% endblock %}
