{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div style="margin-top:20px; margin-left:30px;">
    <a>If you're joining for the first time, remember your email, name, and password in order to access the meeting in the future.</a><br>
    <a>If you've joined the meeting before and want to edit your availability, log in using the email, name, and password you used when you joined.</a><br>
    <a>Note: You cannot create multiple accounts to the same meeting with one email address</a>
</div>
<form method="post" style="margin-top: 50px; margin-left: 300px; margin-right: 300px;">
    <div class="form-group row">
        <label class="col col-form-label">Email</label>
        <div class="col">
            <input name="email" id="email" type="email" class="form-control" autocomplete="off" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col col-form-label">Name</label>
        <div class="col">
            <input name="name" id="name" type="text" class="form-control" autocomplete="off">
        </div>
    </div>
    <div class="form-group row">
        <label class="col col-form-label">Password</label>
        <div class="col">
            <input name="password" id="password" type="password" class="form-control" autocomplete="off" required>
        </div>
    </div>
    <div class="form-group row">
        <label class="col col-form-label">Meeting Code</label>
        <div class="col">
            {% if meeting_code %}
            <select name="meeting_id" id="meeting_id" class="form-control">
                <option value="{{ meeting_code }}" selected>{{ meeting_code }}</option>
            </select>
            {% else %}
            <input name="meeting_id" id="meeting_id" type="text" class="form-control" autocomplete="off" required>
            {% endif %}
        </div>
    </div>
    <div class="col text-center">
        <button type="submit" class="btn btn-primary">Join Meeting</button>
    </div>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}')
            </script>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock %}
