<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
        <title>{% block title %}{% endblock %}</title>
        {% block script %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark" style="color:white;">
            <a class="navbar-brand" style="width:150px">MeetingPlanner</a>
            <div class="navbar-nav d-flex flex-row mr-auto">
                <a class="nav-item nav-link" href="/" style="width: 170px">Create New Meeting</a>
                <a class="nav-item nav-link" href="/join/">Join Existent Meeting</a>
            </div>
        </nav>
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
